<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Generator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        var flashMessage = $('<div class="flash-message alert alert-{{ category }}">{{ message }}</div>');
                        $('#flash-messages-container').append(flashMessage);
                        flashMessage.fadeIn(500).delay(3000).fadeOut(500, function() {
                            $(this).remove();
                        });
                    {% endfor %}
                {% endif %}
            {% endwith %}
    
            // Show the spinner on form submission
            $('#generateForm').on('submit', function() {
                $('#loadingOverlay').show();
            });
    
            $('#surpriseForm').on('submit', function() {
                $('#loadingOverlay').show();
            });
    
            // Hide the spinner after the page is fully loaded
            $(window).on('load', function() {
                $('#loadingOverlay').hide();
            });
        });
    </script>
</head>

<body>
    <div class="container">
        <h1>Welcome to the Colouring Page Generator!</h1>
        <hr>
        <div id="flash-messages-container"></div> <!-- Container for flash messages -->

        <form id="generateForm" action="/generate" method="post">
            <input type="text" id="prompt" name="prompt" placeholder="Enter your prompt here...">
            <button type="submit">
                <span class="transition"></span>
                <span class="gradient"></span>
                <span class="label">Generate</span>
            </button>
        </form>

        <form id="surpriseForm" action="/surprise" method="post">
            <button type="submit">
                <span class="transition"></span>
                <span class="gradient"></span>
                <span class="label">Surprise me!</span>
            </button>
        </form>

        <hr>
        <div class="row">
            {% for filename in image_filenames %}
            <div class="col-lg-3 col-md-4 col-6 mb-4">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <img src="{{ url_for('serve_image', filename=filename) }}"
                            class="card-img-top img-fluid image-thumbnail" alt="Generated image">
                            <p class="card-text">{{ filename[:25] }}...</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <div id="loadingOverlay" style="display: none;">
            <div id="loadingSpinner" class="loader"></div>
        </div>
    </div>

    <div id="imageModal" class="modal">
        <div class="button-container">
            <span class="close">&times;</span>
            <button class="print-btn">Print</button>
        </div>
        <img class="modal-content" id="img01">
        <div id="caption"></div>
    </div>

    <div id="imageModal" class="modal">
        <div class="button-container">
            <span class="close">&times;</span>
            <button class="print-btn">Print</button>
        </div>
        <img class="modal-content" id="img01">
        <div id="caption"></div>
    </div>
    

    <!-- Error Modal -->
    <div id="errorModal" class="modal">
        <span class="close">&times;</span>
        <div class="modal-content">
            <p id="errorMessage">Please enter a prompt.</p>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>